/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f8f8fa;
  overflow-x: hidden;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
}
.nav-main-bg {
  background-color: blue;
  height: 28rem;
}
.nav-item {
  padding: 15px 20px;
  color: whitesmoke;
  cursor: pointer;
}
.nav-item:hover {
  text-decoration: underline;
}
.nav-item-active {
  background-color: white;
  color: darkblue;
}
.nav-item-btn {
  margin: 15px 0px;
}
.logo {
  margin-right: auto;
  padding: 25px;
}

.nav-item-active {
  padding: 4px 6px;
  border-radius: 5px;
}

.header-image {
  position: relative;
  left: 60rem;
  bottom: 12rem;
}
.header-text {
  position: relative;
  left: 4rem;
  top: 5rem;
  font-size: 1.5rem;

  color: whitesmoke;
}
.para {
  position: relative;
  left: 4rem;
  top: 5rem;
  font-size: 1rem;
  color: wheat;
}

.companies {
  display: flex;
}
.company-items {
  color: black;
  margin: 20px 100px;
  font-weight: 900;
  text-decoration: none;
}
.api-heading {
  position: relative;
  font-size: 2.5rem;
  margin: 30px 0px 35px 30px;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-active {
  background-color: white;
  opacity: 1;
  height: 15rem;
  width: 15rem;
  padding: 5px;
  border-radius: 10px;
}

.blog-heading {
  margin: 30px 0px 20px 30px;
  font-weight: 900;
}
.blog-cards {
  display: flex;
  gap: 3rem;
  justify-content: space-around;
}

.blog-card {
  display: flex;

  margin-left: 1.5rem;
}

.blog-content {
  display: flex;
  flex-direction: column;
  width: 15rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  gap: 2rem;
  padding-top: 2rem;
  background-color: white;
}

.blog-bottom {
  display: flex;
  text-align: center;
}

.blog-author {
  text-align: center;
  margin-top: 1rem;
  margin-left: 1rem;
}

.faq-section {
  margin-top: 5rem;
  display: flex;
  background-color: rgb(209, 229, 229);
  justify-content: space-between;
}

.faq-content {
  /* margin-left: 5rem; */
  margin: auto;
}

.have {
  font-size: 2.8rem;
  font-weight: 900;
}

.faq-para {
  padding-bottom: 2rem;
  padding-top: 10px;
}

.btn-faq {
  margin-top: 1.2rem;
  padding: 4px 10px;
  color: white;
  border-radius: 3px;
  outline-style: none;
  border: 2px solid rgb(47, 47, 204);
  background-color: rgb(47, 47, 204);
}

.faq-h4 {
  font-size: 1.2rem;
  font-weight: 900;
}

.download-section {
  display: flex;
  justify-content: space-around;
  margin: 8rem 0;
}
.down-inp {
  width: 28rem;
  padding: 15px;
  border: 2px solid transparent;
  border-radius: 10rem;
  background-color: rgb(234, 234, 246);
  color: black;
}

.btn-down {
  position: relative;
  right: 5rem;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 10rem;
  background-color: rgb(61, 61, 238);
  color: white;
}

.footer-section {
  background-color: rgb(61, 61, 238);
  display: flex;
  justify-content: space-between;
}
.list {
  display: flex;
  gap: 3rem;
  list-style: none;
  margin-top: 2rem;
}

.footer-left {
  padding: 5rem;
}

.footer-logos {
  background-color: white;
  border-radius: 50%;
  margin: 0 10px;
}

.footer-right {
  margin-top: 4rem;
}

.logos-list {
  display: flex;
  margin-top: rem;
  list-style: none;
  gap: 2rem;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  .nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .text-head {
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
  }
  .para {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .header-image {
    position: relative;
    left: 2rem;
    width: 20rem;
    top: 6rem;
  }

  .companies {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16rem;
  }

  .api-heading {
    text-align: center;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 2rem;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .blog-heading {
    text-align: center;
    margin: 1rem 0;
  }

  .blog-cards {
    display: flex;
    flex-wrap: wrap;
  }

  .blog-card {
    /* width: 10rem; */
    display: flex;
    flex-wrap: wrap;
  }

  .faq-section {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  .have {
    font-size: 2rem;
  }

  .faq-image img {
    margin-top: 2rem;
    width: 23rem;
  }

  .download-section {
    display: flex;
    flex-wrap: wrap;
  }
  .down-inp {
    width: 14rem;
  }

  .btn-down {
    display: flex;

    margin-left: 10.2rem;
    margin-top: 2rem;
    padding: 4px 6px;
  }

  .footer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
